#include "../Common/Version.h"
#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION REDXE_VERSION_NUMERIC
 PRODUCTVERSION REDXE_VERSION_NUMERIC
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", REDXE_VERSION_COMPANY "\0"
            VALUE "FileDescription", "RedXe command-line launcher\0"
            VALUE "FileVersion", REDXE_VERSION_STRING "\0"
            VALUE "InternalName", "RedXeLauncher\0"
            VALUE "LegalCopyright", REDXE_VERSION_COPYRIGHT "\0"
            VALUE "OriginalFilename", "RedXeLauncher.exe\0"
            VALUE "ProductName", REDXE_VERSION_PRODUCT "\0"
            VALUE "ProductVersion", REDXE_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
